registry=http://192.168.100.53:4873/
fsevents_binary_host_mirror=https://npm.taobao.org/mirrors/fsevents/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/
